<!-- header.mustache -->
<!DOCTYPE HTML>
<html>
<header>
    <title>Spring Boot  and Mustache</title>
    <meta http-equiv="Content-Type" content="text/html"; charset="UTF-8" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</header>
<body>
<!--헤더와 푸터는  css가  헤더에서 실행되는 사이  js 푸터에서 생성되기때문에  페이지 로딩속도를 높힐수있다. -->
